@using HairSalon.Models
@{
  Layout = "_Layout";
}

<div class="container">
<h4>Edit stylist name</h4>
    <form action = "/stylists/@Model.GetId()/edit" method="post">
            <label for='stylistName'>New Name</label>
            <input id='stylistName' name='stylistName' type='text' required><br>
        <button class="btn btn-info" type="submit">Update</button>
    </form>

<hr>

<a href='/'><button class='btn btn-info'>Back Home</button></a>
<a href='/stylists'><button class='btn btn-info'>View Stylists</button></a>

</div>
