@{
  Layout = "_Layout";
}

<div class="container">

<form action='/specialties' method='post'>
  <label for='name'>Specialty name: </label>
  <input id='specialtyName' name='specialtyName' type='text'>
  <button type='submit'>Add specialty</button>
</form>

</div>