@{
  Layout = "_Layout";
}

<div class="container">

    <div class="jumbotron"> <h1>Welcome to Seattle Salon</h1> </div> 

    <h3><a href="/stylists">View a list of all the stylists currently working for Seattle Salon</a></h3>

  </div>