@{
  Layout = "_Layout";
}

<div class="container">

    <div class="jumbotron"> <h1>Welcome to Snappy Snips!</h1> </div> 

    <h5><a href="/stylists">View a list of all the stylists currently working for us</a></h5>
    <h5><a href="/clients">View a list of all clients</a></h5>

  </div>