@{
  Layout = "_Layout";
}
<div class="container">
<br>

<h3>Client Details: </h3>
<hr>

<h4>Name: @Model["client"].GetName()</h4>
<br>
<h4>Stylist: @Model["stylist"].GetName()</h4>
<br>


<a href='/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()/edit'>Edit this client</a>
<br>
<p><a href='/clients/@Model["client"].GetId()/delete'>Delete this client</a></p>
<br>
<a href='/stylists'>View all stylists</a>
</div>